<!--
<div [ngClass]="{'visible': regionVisible=='landing', 'no-visible': regionVisible!='landing'}">
    <app-landing></app-landing>
</div>

<div>
    <app-login></app-login>
</div>


<app-registro></app-registro>

<app-menu></app-menu>

    <app-carrito></app-carrito>
    <app-empresas></app-empresas>
    <app-historial></app-historial>
    <app-home></app-home>
    <app-pedidos></app-pedidos>
    <app-perfil></app-perfil>
    <app-productos></app-productos>
    

<app-footer></app-footer>
-->

<router-outlet></router-outlet>


